/* GLOBAL */

html {
    font-size: 16px;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 247);
}

/* FONTS */

h1 a {
    font-family: rosella-hatched, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: matrix-ii-script, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(60, 95, 150);
}
#intro p {
    font-family: quasimoda, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.15rem;
    margin: 1rem 3rem 0 0;
}
p,
.text,
.dialect,
#toggle-dialects,
#insult-me,
.close {
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    letter-spacing: .02rem;
    color: rgb(21, 31, 81);
}
#copyright {
    font-size: .8rem;
    text-transform: capitalize;
    padding-top: 0.5rem;
    border-top: 1px solid rgb(211, 211, 228);
}

/* HEADER */

header {
    background-color: rgb(60, 95, 150);
}
h1 {
    margin: 2.5rem 0;
    text-align: center;
}
h1 a {
    font-size: 2.5rem;
    letter-spacing: .4rem;
    color: rgb(242, 242, 247);
    text-transform: uppercase;
    text-decoration: none;
}

/* MAIN */

main {
    width: 85%;
    margin: 2rem auto;
}
#intro {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 5rem;
}
#intro img {
    height: 250px;
}
#britpicker {
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgba(201, 198, 198, .33);
}
#dialect-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgb(211, 211, 228);
    border-right: 1px solid rgb(211, 211, 228);
    border-left: 1px solid rgb(211, 211, 228);
    border-radius: 8px 8px 0 0;
}
#dialect-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 1rem 1.5rem;
}
.dialect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    letter-spacing: .03rem;
    color: rgb(21, 31, 81);
    cursor: default;
}
.divider {
    display: block;
    width: 1px;
    background-color: rgb(211, 211, 228);
}
#clear-all {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
}
#clear-all img {
    height: 1.125rem;
    cursor: pointer;
}
#text-container {
    display: flex;
    width: 100%;
}
.text {
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(57, 58, 65);
    width: 50%;
    min-height: 350px;
    border: 1px solid rgb(211, 211, 228);
    padding: 1.5rem;
    caret-color: rgb(226, 50, 42);
    white-space: pre-wrap;
}
.text:first-letter {
    font-size: 2rem;
}
.text:focus {
    outline: none;
    border: 1px solid rgb(226, 50, 42);
}
#ae {
    border-right: none;
    border-radius: 0 0 0 8px;
}
#be {
    border-left: none;
    border-radius: 0 0 8px 0;
}
#toggle-dialects {
    display: none;
    font-weight: 700;
    letter-spacing: .03rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(21, 31, 81);
    border: none;
    border-radius: 0 0 8px 8px;
    padding: 1rem 1.5rem;
    width: 100%;
}
aside {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#insult-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 20%;
    width: 100%;
    right: calc(100% - 50px);
}
#insult-generator {
    position: relative;
    background-color: rgb(60, 95, 150);
    padding: 1rem;
    width: 100%;
    height: 100%;
}
#insult {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 2.5rem;
    background-color: rgb(255, 255, 255);
    margin: 1.5rem auto 1rem;
}
#insult p,
#insult span {
    display: inline;
    font-size: 1.3rem;
}
#insult-me {
    display: block;
    font-weight: 700;
    letter-spacing: .03rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 28, 56);
    border: none;
    border-radius: 20px;
    padding: .5rem 1rem;
    margin: 0 auto;
    cursor: pointer;
}
#insult-tab {
    flex-shrink: 0;
    height: 100%;
    width: 50px;
    background-color: rgb(60, 95, 150);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.close {
    font-size: 1.1rem;
    line-height: .8;
    color: rgb(255, 255, 255);
    float: right;
    cursor: pointer;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: auto;
    position: relative;
    background-color: inherit;
    padding: 40px 30px 10px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 415px) {
    
    /* HEADER */

    h1 a {
        font-size: 1.8rem;
    }

    /* MAIN */

    #intro {
        flex-direction: column-reverse;
        align-items: center;
    }
    #intro p {
        margin: 1rem 0;
    }
    #dialect-container div,
    .text {
        width: 100%;
    }
    .text:focus {
        border: 1px solid rgb(226, 50, 42) !important;
    }
    .divider {
        display: none;
    }
    #ae,
    #be {
        border-left: 1px solid rgb(211, 211, 228);
        border-right: 1px solid rgb(211, 211, 228);
        border-radius: 0 0 0 0;
    }
    #toggle-dialects {
        display: block;
    }
    #dialect-container div:nth-child(3) {
        display: none;
    }
    #be {
        display: none;
    }
}