/* GLOBAL */

html {
    font-size: 16px;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 240, 240);
}

/* FONTS */

h1 a {
    font-family: charcuterie-flared, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* HEADER */
h1 {
    margin: 2.5rem 0;
    text-align: center;
}
h1 a {
    font-size: 1.7rem;
    letter-spacing: .15rem;
    color: rgb(60, 95, 150);
    text-transform: uppercase;
    text-decoration: none;
}

/* MAIN */

main {
    width: 85%;
    margin: 2rem auto;
}
#intro {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 5rem;
}
#intro img {
    height: 250px;
}
#intro p {
    font-size: 1.2rem;
    margin: 1rem 3rem 0 0;
}
#britpicker {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 209, 209);
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgba(201, 198, 198, .33);
}
.text-wrapper {
    display: block;
    width: 100%;
    min-height: 350px;
    border: none;
}
.text-wrapper:first-child {
    border-right: 1px solid rgb(224, 209, 209);
}
#britpicker span {
    display: block;
}
.text {
    display: block;
    width: 100%;
    min-height: 350px;
    border: 1px solid transparent;
    border-radius: 0 0 8px 8px;
    padding: 1.5rem;
    caret-color: rgb(226, 50, 42);
    white-space: pre-wrap;
}
.text:focus {
    outline: none;
    border: 1px solid rgb(226, 50, 42);
}
#ae:focus {
    border-radius: 0 0 0 8px;
}
#be:focus {
    border-radius: 0 0 8px 0;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: auto;
    position: relative;
    background-color: inherit;
    padding: 40px 30px 20px;
}