/* GLOBAL */

html {
    font-size: 16px;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 240, 240);
}

/* HEADER */
h1 {
    margin: 1rem;
}
h1 a {
    color: rgb(60, 95, 150);
    text-decoration: none;
}

/* MAIN */

main div {
    width: 85%;
    margin: 10% auto;
}
textarea {
    display: block;
    width: 100%;
    min-height: 300px;
    border: 1px solid rgb(224, 209, 209);
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgba(201, 198, 198, .33);
    margin: 1rem 0 0 0;
    resize: none;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: auto;
    position: relative;
    background-color: inherit;
    padding: 40px 30px 20px;
}